@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body {
    background-color: rgba(255, 192, 203, 0.733);
}
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Libre Baskerville', serif;
    --fonte3: 'Lora', serif;
}
header {
    background-color: white;
    font-family: var(--fonte2);
    font-size: 20px;
    color: rgba(0, 0, 255, 0.473);
    padding: 20px;
    margin: 5px;
    margin: auto;
}
nav {
    background-color: yellow;
    font-family: var(--fonte1);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
section {
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 1.8vw;
}
section.normal {
    background-image: linear-gradient(to left, pink, white);
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
section.imagem {
    background-color: blueviolet;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
section#img1 {
    
    background-image: url('../imagens/tapete.jpg');
    background-position: center center;
}
section#img2 {
    background-image: url('../imagens/copos.jpg');
    background-position: center center;
}